<div class="bootstrap-wrapper">
<!--  {{question|json}}-->
  <div class="row mt-20">
    <div class="col-md-12">
      <h1>Adding to {{title}}</h1>
      <mat-card>
<mat-card-header>
  <mat-card-subtitle>
    Enter the details of question
  </mat-card-subtitle>
</mat-card-header>
        <mat-card-content>
          <form (submit)="formSubmit()">
<!--            <mat-form-field class="full-width">-->
<!--              <mat-label>Write question content</mat-label>-->
<!--              <textarea required rows="8" name="content" [(ngModel)]="question.content"  matInput placeholder="Enter here"></textarea>-->
<!--            </mat-form-field>-->

<!--            <div class="row">-->
<!--              <div class="col-md-6">-->
            <!-- app.component.html -->

            <ckeditor [editor]="Editor" data="<p>Question content here!!</p>"
            name="content"
             [(ngModel)]="question.content"
            >
            </ckeditor>

            <div class="row">
              <div class="col-md-6">
            <!--                option 1-->
                <mat-form-field >
                  <mat-label>Enter option 1</mat-label>
                  <input type="text" [(ngModel)]="question.option1" name="option1" matInput>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <!--                option 2-->
                <mat-form-field>
                  <mat-label>Enter option 2</mat-label>
                  <input type="text" [(ngModel)]="question.option2" name="option2" matInput>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <!--                option 3-->
                <mat-form-field>
                  <mat-label>Enter option 3</mat-label>
                  <input type="text" [(ngModel)]="question.option3" name="option3" matInput>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <!--                option 4-->
                <mat-form-field>
                  <mat-label>Enter option 4</mat-label>
                  <input type="text" [(ngModel)]="question.option4" name="option4" matInput>
                </mat-form-field>
              </div>
            </div>
<!--              answer-->
              <mat-form-field>
                <mat-label>Select an answer</mat-label>
                <mat-select [(ngModel)]="question.answer" name="answer"  class="full-width" >
                  <mat-option *ngIf="question.option1" [value]=question.option1>{{question.option1}}</mat-option>
                  <mat-option *ngIf="question.option2" [value]=question.option2>{{question.option2}}</mat-option>
                  <mat-option *ngIf="question.option3" [value]=question.option3>{{question.option3}}</mat-option>
                  <mat-option *ngIf="question.option4" [value]=question.option4>{{question.option4}}</mat-option>
                </mat-select>
              </mat-form-field>
          <div class="container text-center">
            <button mat-raised-button color="accent">Add</button>
          </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
